html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
    display: block;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
ul {
list-style: none;
padding: 0;
margin: 0;
}
h3.title {margin-bottom: 0;}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
:root{
--logo-header-footer:#2196F3;
--primary-text-color:#757575;
--title-text-color:#212121;
--background-color-white: #FFFFFF;
--background-color:#2F303A;
--color-hero:#ffffff;
--background-color-section:#F5F5F5;
--background-color-team:#F5F4FA;
--background-color-footer:#2F303A;
--hover-color:#2196F3;
--accent-color:#000000;
--accent-color-white:#FFFFFF;
--color-link-footer:rgba(255, 255, 255, 0.6);
--background-color-portfolio-hero:#F5F5F5 ;
--link-current:#2196F3;
--primary-color-button:#FFFFFF;
--secondary-color-button: #212121;
--background-color-button :#2196F3;
--background-color-portfolio:#EEEEEE;
--flex-gap:30px;
--border-bottom:#ECECEC;
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
/* body */
body {color: var(--primary-text-color);
background-color: var(--background-color-white);   
font-family: "Roboto", sans-serif;
}
ul {list-style: none;}
/* header */
.header {border-bottom: 1px solid var(--border-bottom);}
.header.auth-nav {display: flex;
align-items: center;}
.nav {display: flex;
align-items: center;}
.logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--logo-header-footer);
text-decoration: none;}
.accent {color: var(--accent-color);}
/* site-nav */
/* header-page */
.site-nav{display: flex;
margin-left: 93px;}
.site-nav .item + .item {margin-left:50px;}
.site-nav .link {
display: block;
padding-top: 32px;
padding-bottom: 32px;
color: var(--title-text-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;}
.site-nav .link:hover,
.site-nav .link:focus {
color: var(--hover-color);}
/* акцент уваги */
.site-nav .link.current {
color: var(--link-current);}
/* auth-nav */
.auth-nav .link {
display: block;
padding-top: 32px;
padding-bottom: 32px;
color: var(--primary-text-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;}
.auth-nav  {display: flex; 
margin-left: auto;}
.auth-nav .item +.item {margin-left: 50px;}
.auth-nav .link:hover,
.auth-nav .link:focus {
color: var(--hover-color);}
/* акцент уваги */
.auth-nav .link.current {color: var(--link-current);}
/* hero-section */
.hero-section{background-color:var(--background-color);
    padding-top: 200px;
    padding-bottom: 200px;
}
/* hero-title */
 .content-hero{ width: 696px;
text-align: center;
margin-left: auto;
margin-right: auto;}

.hero-title{
margin-bottom: 30px;
color: var(--color-hero);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}
/* КНОПКА */
.button{ 
margin-left: auto;
margin-right: auto;
padding: 10px 32px;
color: var(--primary-color-button);
background-color: var(--background-color-button);
display: inline-block;
min-width: 216px;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
cursor: pointer;
font-family: inherit;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
text-decoration: none;
border: 1px solid transparent;
}
/* visually-hidden приховати */
.visually-hidden{
position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
margin: -1px;}
/* feature-list */
.feature-list .title{
margin-bottom: 10px;
background-color:var(--background-color-section);
color: var(--title-text-color);
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;}
.title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    text-transform: capitalize;
}
.work-list > .work-list-item {
max-width: 270px;
margin-right: 30px;
}
.work-list>.work-list-item:last-child {
margin-right: 0;}
 .work-list {
display: flex; 
}
/* description */
.description-section{padding-top: 0;}
.description{
margin-bottom: 50px;
color: var(--title-text-color);
background-color: var(--background-color-section);
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
}
.img-box {display: flex;}
.img-item {
margin-right: 30px;}
.img-item:last-child {margin-right: 0;}
/* team */
.team {background-color: var(--background-color-team);}
.title-list{ background-color: var(--background-color-white);
    
}
.title-list .team-list{
margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
min-width: 270px;}
.title-list .team-list:last-child {margin-right: 0;} 
.title-list {display: flex;}
.text-content{
padding: 30px 00px;}
.team-title{
margin-bottom: 50px;
color: var(--title-text-color);
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;}
.title-item{
margin-bottom: 10px;
color: var(--title-text-color);
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em; 
}
.list {
color: var(--primary-text-color);
font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
}
/* footer */
.down {background-color: var(--background-color-footer);
padding-top: 60px;
padding-bottom: 60px;}
.logo-footer {
display: block;
margin-bottom: 20px;
color: var(--logo-header-footer);
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
text-decoration: none;
}
.footer-list {
margin-bottom: 9px;}
.footer-list:last-child {
margin-bottom: 0;}
.footer-information{ width: 231px;}
/* hover footer */
.link:hover,
.link:focus {
color: var(--hover-color);
}
.link.current{color: var(--accent-color-white);}
.accent-footer{
 color: var(--accent-color-white);  
}
.link{
color: var(--color-link-footer);
font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em; 
text-decoration: none;
font-style: normal;
}
/* portfolio */
/* portfolio-hero */
/* Кнопка */
.button-items {
    margin-bottom: 50px;
    justify-content: center;
    display: flex;
}
.button-list{
margin-right: 8px;}
.button-list:last-child{
 margin-right: 0;}
.button-item{
padding: 6px 25px;
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
display: flex;
letter-spacing: 0.03em;
color: var(--secondary-color-button);
border: none;
cursor: pointer;}
.button-item:hover,
.button-item:focus {
display: block;
min-width: 73px;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
text-align: center;
color: var(--primary-color-button);
background-color: var(--background-color-button);
font-family: inherit
}

.hero-item{ 
    
font-weight: 400;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}
/* Наші роботи */

.hero-content{padding: 20px 24px;
border: 1px solid var(--background-color-portfolio);}

.container-hero {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.flex-container {
display: flex;
flex-wrap: wrap;
margin-left: calc(-1 * var(--flex-gap));
margin-top: calc(-1 * var(--flex-gap));
}
.flex-container > .flex-element { 
    flex-basis: calc(100% / 3 - var(--flex-gap));
    margin-left: var(--flex-gap);
    margin-top: var(--flex-gap);
}